[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Elephone maintainers
[access "refs/heads/*"]
	create = group Elephone maintainers
	push = +force group Elephone maintainers
	pushMerge = group Elephone maintainers
	label-Code-Review = -2..+2 group Elephone maintainers
	label-Verified = -1..+1 group Elephone maintainers
	submit = group Elephone maintainers
